<p id="notice"><%= notice %></p>

<h1>Time Logs</h1>

<div class="card">
  <div class="card-content">
    <%= search_form_for @query do |f| %>
      <div class="row">
        <div class="col l5">
          <div class="input-field">
            <%= f.search_field :description_cont  %>
            <%= f.label :description_cont, t('.search') %>
          </div>
        </div>
        <div class="col l5">
          <div class="input-field">
            <%=
              f.select(:status_eq,
              TimeLog.statuses,
              { include_blank: 'Status' },
              { onchange: "this.form.submit();" })
            %>
            <%= f.label :description_cont, t('.search') %>
          </div>
        </div>
        <div class="col l2">
          <br>
          <%= f.submit t('.search'), :class => 'btn black right' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='row thead'>
  <div class='col l4'>
    Duration (Hours)
  </div>
  <div class='col l4'>
    Description
  </div>
  <div class='col l2'>
    Status
  </div>
  <div class='col l2'>
    <%= link_to t('.new'), new_time_log_path, class: 'btn blue white-text' %>
  </div>
</div>

<%= turbo_stream_from 'time_logs' %>

<%= turbo_frame_tag 'time_log_form', target: "_top" do %>

<% end %>

<%= turbo_frame_tag 'time_logs' do %>
  <%= render @time_logs %>
<% end %>
